<config>
    <modules>
        <Api2cart_Bridge>
            <version>1.0.0</version>
        </Api2cart_Bridge>
    </modules>
    <global>
        <helpers>
            <api2cart_bridge>
                <class>Api2cart_Bridge_Helper</class>
            </api2cart_bridge>
        </helpers>
        <blocks>
            <api2cart_bridge>
                <class>Api2cart_Bridge_Block</class>
            </api2cart_bridge>
        </blocks>
        <models>
            <api2cart_bridge>
                <class>Api2cart_Bridge_Model</class>
            </api2cart_bridge>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Api2cart_Bridge before="Mage_Adminhtml">Api2cart_Bridge_Adminhtml</Api2cart_Bridge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>